<div>
    <h1>Contact Us</h1>
        <table>
            <tr>
                <th>Email</th>
                <th>Phone</th>
                <th>Address</th>

            </tr>
            
            <tr>
                <td>daniel.brooks@yahoo.com</td>
                <td>615-852-7813</td>
                <td>176 River Chase | 
                Hendersonville, Sumner County, TN |
                USA</td>
            </tr>
        </table>
        
</div>